[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "bundle/vim-jshint2"]
	path = bundle/vim-jshint2
	url = https://github.com/Shutnik/jshint2.vim
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-python-indent"]
	path = bundle/vim-python-indent
	url = https://github.com/hynek/vim-python-pep8-indent
[submodule "bundle/vim-sftp"]
	path = bundle/vim-sftp
	url = https://github.com/eshion/vim-sftp-sync
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/emmetio/emmet
